<div>
    <div class="navigation">
        <div class="logo" ng-click="vm.go('app.home')">IT Central</div>
        <div class="account" ng-click="vm.go('app.account')">
            <div class="name">Chris Woodle</div>
            <div class="profile">
                <img ng-src="//www.gravatar.com/avatar/b97b922de69af53b2733aea20c4d601a?d=identicon" src="//www.gravatar.com/avatar/b97b922de69af53b2733aea20c4d601a?d=identicon"
                    width="24" height="24">
            </div>
        </div>
    </div>
    <ui-view class="content"></ui-view>
</div>