#account {
    .profile {
        text-align: center;
        padding-bottom: 30px;
        border-bottom: solid 1px #ccc;
        .image {
            padding: 30px;
            img {
                border: none;
                border-radius: 50%;
            }
        }
        .name {
            color: black;
            font-size: 20px;
        }
    }
    .social {
        margin-top: 10px;
        padding-bottom: 30px;
        border-bottom: solid 1px #ccc;
        table {
            margin-right: auto;
            margin-left: auto;
            tr {
                td {
                    padding: 20px;
                    border-bottom: solid 1px #ccc;
                }
            }
        }
    }
    .toolbox {
        padding-top: 30px;
        padding-bottom: 30px;
        h1 {
            padding-bottom: 30px;
        }
        .product {
            margin-bottom:10px; 
            background-color: #fff;
            border:solid 1px #e7e7e7;
            border-radius: 6px;
            font-size: 0;
            .logo {
                display: inline-block;
                vertical-align: top;
                 img {
                     border-top-left-radius: 5px;
                     border-bottom-left-radius: 5px; 
                      
                    height: 100px;
                    width: 100px;
                }
            }
            .text {
                display: inline-block;
                padding: 25px;
                font-size: 20px;
                vertical-align: top;
                
            }
        }
    }
}